
   <html>
        <head>
            <title>Davinci Code Game</title>

        </head>

        <body bground="white">
            <div>
	    	</br></br></br></br></br>
                <center><span style="color:GREEN"><h1><B>Da Vinci Code Game</B></span></h1></center>
            </div>


            <div>
		</br></br>
                <center><h2><a href="game">게임 시작</a></h2></center>
            </div>

            <div>
		</br>
                <center><h2><a href="explanation">게임 방법</a></h2></center>
	    </div>
	    <div style = "padding : 0px 40px 0px 0px;">
	</br></br></br></br></br></br></br></br></br></br></br></br>
		<p align="right">만든이 : 박라현, 설아현, 지대철, 지민규   </p>
            </div>
        </body>
    </html>
